@{
    ViewBag.Title = "About";
}
<link href="~/Content/baraja.css" rel="stylesheet" />
<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Content/demo.css" rel="stylesheet" />
<script src="~/Scripts/jquery.baraja.js"></script>
<script src="~/Scripts/game.js"></script>



<div id="gameTableHidden" class="hidden">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                <div class="text-left" style="display: inline">
                    <img src="~/Images/1429055942_kpat.png" height="16" />
                    <div style="display: inline" class="h6">
                        <b>Bet &nbsp;</b>
                    </div>
                </div>
                <a class="label label-default" onclick="decreaseBet();">-</a>
                <span class="label label-primary" id="bet">100</span>
                <a class="label label-default" onclick="increaseBet();">+</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center h4"><b>Cash: <d class="text-success" id="cash">1000$</d></b></div>
        </div>
        <div class="col-sm-3">
            <div class="btn btn-xs btn-info pull-right" style="margin-top: 3px" id="backToLobby"
                 onclick="myMethod();">
                Back to lobby
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4  col-sm-offset-3">
            <div class="col-sm-12">
                <div class="text-left text-center h6">
                    <b>Dealer cards </b>
                    <sup class="label label-info label-as-badge h6 hidden">
                        <b id="dealerCardScore">0</b>
                    </sup>
                </div>
                <ul id="dealer-el" class="baraja-container" style="height: 150px">
                    <li><img src="~/Images/1.png" style="width: 100px; height: 125px"/></li>
                    <li>
                        <img src="~/Images/1.png" style="width: 100px; height: 125px"/>
                    </li>
                    <li>
                        <img src="~/Images/1.png" style="width: 100px; height: 125px"/>
                    </li>
                    <li>
                </ul>
            </div>
            <div class="col-sm-12">
                <div class="text-left text-center h6">
                    <b>Player cards </b>
                    <sup class="label label-info label-as-badge h6">
                        <b id="playerCardScore">0</b>
                    </sup>
                </div>
                <ul id="player-el" class="baraja-container" style="height: 150px">
                    <li><img src="~/Images/1.png" style="width: 100px; height: 125px"/></li>
                    <li>
                        <img src="~/Images/1.png" style="width: 100px; height: 125px"/>
                    </li>
                    <li>
                        <img src="~/Images/1.png" style="width: 100px; height: 125px"/>
                    </li>
                    <li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row" id="actionButtons">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <div class="col-sm-12">
                <div id="gameActions" class="btn-group-justified " style="margin-left: 15px">
                    <a href="#" class="btn btn-success btn-sm"
                       style="width: 33%;"
                       onclick=" hit(); ">
                        <i class="fa icon-plus"></i> <b> &nbsp;&nbsp;Hit</b>
                    </a>
                    <a id="doubleButton" href="#" class="btn btn-info btn-sm"
                       style="width: 33%;" 
                       onclick="doubleBet();">
                        <i class="fa icon-dollar"></i> <b>&nbsp;&nbsp;Double</b>
                    </a>
                    <a href="#" class="btn btn-danger btn-sm"
                       style="width: 33%;" 
                       onclick="stand();">
                        <i class="fa icon-stop"></i> <b>&nbsp;&nbsp;Stand</b>
                    </a>
                </div>
                <div id="beforeGameActions" class=" btn-group-justified hidden" style="margin-left: 15px">
                    <a class="btn btn-block btn-success" style="margin-top: 100%;"
                       onclick="restart();">
                        <b>Want more!</b>&nbsp;&nbsp;<i class="fa icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gameTable">
    <div class="row" id="startButton">
        <div class="col-sm-4 col-sm-offset-4">
            <a class="btn btn-block btn-success" style="margin-top: 100%; border-radius: 5px"
               onclick="startGame();">
                <b>Start game!</b>&nbsp;&nbsp;<i class="fa icon-arrow-right"></i>
            </a>
        </div>
    </div>
</div>